
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import "landing-nav";
@import "mediaqueries";


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/***********************************************************************************************
Landing Page
***********************************************************************************************/




#imagehere {
  background-image: url('../images/landing-demo-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}




/***********************************************************************************************
Landing Page
***********************************************************************************************/








/***********************************************************************************************
Landing Page
***********************************************************************************************/








/***********************************************************************************************
Landing Page
***********************************************************************************************/
