


/****************************************************************************************
Construction Administration Page
****************************************************************************************/





.construction-background {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../images/overview-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.construction-service-container {
  margin-left: -30px;
}

.construction-container {
  padding-left: 0;
  padding-right: 0;
}

.construction-title{
  position: fixed;
  top: 20px;
  width: 500px;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: -5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
  font-family: 'Poppins', serif;
  font-weight: 300;
  font-size: 44px;
}

.construction-statement-container  {
  // display: none;
  position: relative;
  top: 91.5px;
  width: 500px;
  height: 420px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFF;
  font-family: 'Poppins', serif;
  font-weight: 300;
  // transition: ease-in;

  .construction-scroller {
    overflow-y: scroll;
    height: 390px;
  }
}

.construction-images-container {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 700px;
  height: 493px;
  padding-top: 15px;
  padding-left: 1px;
  margin-left: 35px;
}

.construction-row-one {
  margin-bottom: 24px;
}

.construction-image-one {
  // height: 200px;

}

.image-one-spacing {
  padding-left: 0px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.construction-image-one {
  background: url('../images/1-construction.jpg');
  background-position: 50%, 50%;
  background-size: cover;
  border: 1px solid #000;
  height: 220px;
}

.image-two-spacing {
  padding-left: 8px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.construction-image-two {
  background: url('../images/2-construction.jpg');
  background-position: center;
  background-size: cover;
  border: 1px solid #000;
  height: 220px;
}

.image-three-spacing {
  padding-left: 0px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.construction-image-three {
  background: url('../images/3-construction.jpg');
  background-position: center;
  background-size: cover;
  border: 1px solid #000;
  height: 220px;
}

.image-four-spacing {
  padding-left: 8px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.construction-image-four {
  background: url('../images/4-construction.jpg');
  background-position: center;
  background-size: cover;
  border: 1px solid #000;
  height: 220px;
}







/****************************************************************************************
Construction Administration Page
****************************************************************************************/
