




/**********************************************************************************************
CONTACT PAGE
**********************************************************************************************/




.contact-background {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../images/contact-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  // margin-left: -70px;
}

.contact-container {
  padding-left: 0;
  padding-right: 0;
}

.company-container {
  position: relative;
  display: inline-block;
  color: #fff;
  padding-left: 0;
}
.company-name-wrapper {
  position: fixed;
  top: 20px;
  width: 500px;
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: -5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #E1D6CC;
  font-family: 'Poppins', serif;
  font-weight: 300;
}

.logo-wrapper {
  background-color: #FFF;
  height: 80px;
  width: 82px;
  display: inline-block;
  padding-left: 0;
}

.company-logo {
  background-image: url('../images/lrdg-logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 90px;
  padding-right: 10px;
  display: inline-block;
  position: relative;
  bottom: 5px;
  right: 5px;
}
.company-title {
  display: inline-block;
  position: relative;
  bottom: 50px;
  font-family: 'Poppins', serif;
  font-weight: 200;
  font-size: 25px;
  color: #FFF;
  padding-left: 15px;
}

.company-info {
  // display: none;
  display: inline-block;
  position: relative;
  top: 102px;
  width: 500px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #E1D6CC;
  font-family: 'Poppins', serif;
  font-weight: 300;
  height: 380px;
}

.social-links {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 4px;
}

.social-links p {
  display: inline-block;
  color: #FFF;
}

.social-links ul {
  display: inline-block;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
}

.social-media-links {
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
  right: 20px;
  bottom: 5px;
  border-left: 1px solid #fff;
}

.facebook-spacing {
  // margin-left: 120px;
}
.social-links li i {
  color: #fff;
}

.social-links-caption {

}

.social-media-container{
  width: 280px;
}

.info-emial {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  text-decoration: underline;
}

.info-email a {
  color: #fff;
}

.info-email:hover {
  color: #FADCAE;
}

a {
  color: #fff;
}

a:hover {
  color: #FADCAE;
}

.google-map {
  display: inline-block;
  color: #fff;
  margin-left: 4px;
  // padding-top: 80px;
  // padding-left: 70px;
}




/**********************************************************************************************
CONTACT PAGE
**********************************************************************************************/
