

/***********************************************************************************************
Projects Page
***********************************************************************************************/




body {
  background-color: #A1A89A;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.kindred-writeup {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  display: inline-block;
  margin-right: 0px;
  color: #fff;
}

.transparent-background {
  height: 200px;
  width: 400px;
  background-color: rgba( 0, 0, 0, 0.4);
  position: relative;
  bottom: 20px;
  right: 15px;
}

.kindred-writeup h3 {
  font-family: 'Poppins', serif;
}

.waterleigh-landing {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  display: inline-block;
  margin-right: 0px;
  color: #fff;
}

.nonapark-landing {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  display: inline-block;
  margin-right: 0px;
  color: #fff;
}

.seaisle-landing {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  color: #fff;
}

.altis-landing {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  color: #fff;
}

.dwell-landing {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  color: #fff;
}




/***********************************************************************************************
Projects Page Media Queries
***********************************************************************************************/
