

/***********************************************************************************************
Projects Page
***********************************************************************************************/




body {
  background-color: #A1A89A;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.project-one-container {
  margin-top: 40px;
  margin-left: 10px;
}

.kindred-writeup {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #fff;

}
.kindred-writeup a {
  text-decoration: none;
  color: #fff;
}

.transparent-background {
  height: 200px;
  width: 400px;
  background-color: rgba( 0, 0, 0, 0.4);
  position: relative;
  bottom: 20px;
  right: 15px;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
}

.kindred-writeup h3 {
  font-family: 'Poppins', serif;
  padding-left: 10px;
  padding-top: 10px;
}
.kindred-writeup p {
  font-family: 'Poppins', serif;
  padding-left: 10px;
}

.waterleigh-landing {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #fff;
}
.waterleigh-landing a {
  text-decoration: none;
  color: #fff;
}
.waterleigh-landing h3 {
  font-family: 'Poppins', serif;
  padding-left: 10px;
  padding-top: 10px;
}
.waterleigh-landing p {
  font-family: 'Poppins', serif;
  padding-left: 10px;
}

.nonapark-landing {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 15px;
  color: #fff;
}
.nonapark-landing a {
  text-decoration: none;
  color: #fff;
}
.nonapark-landing h3 {
  font-family: 'Poppins', serif;
  padding-top: 10px;
  padding-left: 10px;
}
.nonapark-landing p {
  font-family: 'Poppins', serif;
  padding-left: 10px;
}

.seaisle-landing {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  color: #fff;
  margin-right: 15px;
}
.seaisle-landing a {
  text-decoration: none;
  color: #fff;
}
.seaisle-landing h3 {
  font-family: 'Poppins', serif;
  padding-top: 10px;
  padding-left: 10px;
}
.seaisle-landing p {
  font-family: 'Poppins', serif;
  padding-left: 10px;
}

.altis-landing {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  color: #fff;
  margin-right: 15px;
}
.altis-landing a {
  text-decoration: none;
  color: #fff;
}
.altis-landing h3 {
  font-family: 'Poppins', serif;
  padding-top: 10px;
  padding-left: 10px;
}
.altis-landing p {
  font-family: 'Poppins', serif;
  padding-left: 10px;
}

.dwell-landing {
  width: 400px;
  height: 200px;
  background-image: url('../images/seaisle-signage.jpg');
  background-size: cover;
  color: #fff;
}
.dwell-landing a {
  text-decoration: none;
  color: #fff;
}
.dwell-landing h3 {
  font-family: 'Poppins', serif;
  padding-top: 10px;
  padding-left: 10px;
}
.dwell-landing p {
  font-family: 'Poppins', serif;
  padding-left: 10px;
}




/***********************************************************************************************
Projects Page Media Queries
***********************************************************************************************/
