

/***************************************************************************************
Sea Isle Styling
***************************************************************************************/




#sea-isle-background {
  background-image: url('../images/1-sea-isle.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 620px;
}

.sea-isle-writeup {
  position: fixed;
  top: 20px;
  width: 400px;
  height: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #E1D6CC;
  font-family: 'Poppins', serif;

}





/***************************************************************************************
Sea Isle Styling
***************************************************************************************/
