

/***************************************************************************************
Sea Isle Styling
***************************************************************************************/




#sea-isle-background {
  background-image: url('../images/1-sea-isle.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 620px;
}

.sea-isle-writeup {
  position: fixed;
  top: 20px;
  width: 400px;
  height: 85px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: -5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #E1D6CC;
  font-family: 'Poppins', serif;
  font-weight: 300;
}
.sea-isle-writeup h2 {
  margin-top: 10px;
}
.sea-isle-writeup p {
  display: inline;
}
.info-click-event {
  display: inline-block;
}
.info {
  display: inline-block;
  margin-left: 146px;
}
.glyphicon {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 10px;
}

#sea-isle-summary {
  width: 400px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #E1D6CC;
  font-family: 'Poppins', serif;
  font-weight: 300;
}





/***************************************************************************************
Sea Isle Styling
***************************************************************************************/
