





/**********************************************************************************************
Studio PAGE
**********************************************************************************************/






/*********************************************************************
General Page styling
*********************************************************************/




.studio-background {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../images/studio-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}




/*********************************************************************
General Page styling
*********************************************************************/





/*********************************************************************
Barry styling
*********************************************************************/









/*********************************************************************
Barry styling
*********************************************************************/





/*********************************************************************
Scott styling
*********************************************************************/









/*********************************************************************
Scott styling
*********************************************************************/





/*********************************************************************
Jim styling
*********************************************************************/









/*********************************************************************
Jim styling
*********************************************************************/






/**********************************************************************************************
Studio PAGE
**********************************************************************************************/
