





/**********************************************************************************************
Studio PAGE
**********************************************************************************************/






/*********************************************************************
General Page styling
*********************************************************************/




.studio-background {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../images/studio-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.studio-content-container {
  padding-left: 60px;
  margin-top: 80px;
}




/*********************************************************************
General Page styling
*********************************************************************/





/*********************************************************************
Barry styling
*********************************************************************/




.barry {

}

.barry-photo {
  background: url('../images/1-barry.jpg');
  background-position: center;
  background-size: cover;
  height: 260px;
  width: 300px;
}

.toggle-icon {
  position: absolute;
  left: 280px;
  top: 226px;
  color: #000;
}

.barry-writeup {
  width: 300px;
  display: none;
}




/*********************************************************************
Barry styling
*********************************************************************/





/*********************************************************************
Scott styling
*********************************************************************/




.scott-photo {
  background: url('../images/2-scott.jpg');
  background-position: center;
  background-size: cover;
  height: 260px;
  width: 300px;
}

.scott-writeup {
  width: 300px;
  display: none;
}




/*********************************************************************
Scott styling
*********************************************************************/





/*********************************************************************
Jim styling
*********************************************************************/




.jim-photo {
  background: url('../images/3-jim.jpg');
  background-position: center;
  background-size: 145%;
  background-repeat: no-repeat;
  height: 260px;
  width: 300px;
}

.jim-writeup {
  width: 300px;
  display: none;
}




/*********************************************************************
Jim styling
*********************************************************************/






/**********************************************************************************************
Studio PAGE
**********************************************************************************************/
