



/******************************************************************************************
Altis at Sandlake Media Queries
******************************************************************************************/



@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  #sandlake-one {
    height: 1080px;
  }

  #sandlake-two {
    height: 1080px;
  }

  #sandlake-three {
    height: 1080px;
  }

  #sandlake-four {
    height: 1080px;
  }

  #altis-summary {
    height: 590px;
  }

  .summary-container {
    overflow-y: hidden; 
  }

}



/******************************************************************************************
Altis at Sandlake Media Queries
******************************************************************************************/
