



/******************************************************************************************
Bella Trae Media Queries
******************************************************************************************/



@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  #bella-one {
    height: 1080px;
  }

  #bella-two {
    height: 1080px;
  }

  #bella-three {
    height: 1080px;
  }

  #bella-four {
    height: 1080px;
  }

  #bella-summary {
    height: 590px;
  }
  .summary-container {
    overflow-y: hidden;
  }

}



/******************************************************************************************
Bella Trae Media Queries
******************************************************************************************/
