



/****************************************************************************************
Community Planning Media Queries
****************************************************************************************/




@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  .community-writeup-container {
    width: 500px;
  }

  .community-statement-container {
    height: 450px;
  }

  .community-scroller {
    height: 450px;
  }

  .construction-images-container {
    width: 1080px;
    height: 695px;
  }

  .community-image-one {
    height: 320px;
  }

  .community-image-two {
    height: 320px;
  }

  .community-image-three {
    height: 320px;
  }

  .community-image-four {
    height: 320px;
  }

  .community-scroller {
    overflow-y: hidden;
  }

}

@media(max-height: 800px) and (max-width: 1280px) and (min-width: 1081px) {

  .community-scroller {
    overflow-y: auto;
    height: 390px;
    padding-right: 5px;
  }

}




/****************************************************************************************
Community Planning Media Queries
****************************************************************************************/
