



/****************************************************************************************
Community Planning Media Queries
****************************************************************************************/




@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  .community-background {
    position: fixed;
  }

  .community-title {
    position: fixed;
  }

  .community-writeup-container {
    width: 500px;
  }

  .community-statement-container {
    height: 450px;
  }

  .community-scroller {
    height: 450px;
  }

  .community-images-container {
    width: 1080px;
    height: 695px;
  }

  .community-image-one {
    height: 320px;
  }

  .community-image-two {
    height: 320px;
  }

  .community-image-three {
    height: 320px;
  }

  .community-image-four {
    height: 320px;
  }

  .community-scroller {
    overflow-y: hidden;
  }

}

@media(max-height: 1080px) and (max-width: 1440px) and (min-width: 1261px) {

  .community-background {
    height: 1000px;
    position: fixed;
  }

  .community-statement-container {
    height: 450px;
  }

  .community-images-container {
    margin-left: 30px;
  }

}

@media(max-height: 800px) and (max-width: 1280px) and (min-width: 1081px) {

  .community-background {
    position: fixed;
  }

  .community-scroller {
    overflow-y: auto;
    height: 390px;
    padding-right: 5px;
  }

}

/*****************************************************************************
Tablet
*****************************************************************************/



@media(max-height: 768px) and (min-height: 700px) and (max-width: 1024px) {



  .community-title {
    width: 420px;
  }

  .community-statement-container {
    width: 420px;
    height: 460px;
  }

  .community-scroller {
    height: 415px;
    overflow-y: none;
  }

  .community-images-container {
    width: 570px;
  }

}




/***********************************************************************************************
Mobile
***********************************************************************************************/



@media(max-width: 415px) and (min-width: 376px) and (max-height: 737px) and (min-height: 735px) {

  .community-background {
    height: 1680px;
    width: auto;
  }

  .community-title {
    top: 60px;
    position: absolute;
    width: 414px;
  }

  .community-statement-container {
    top: 140px;
    width: 340px;
    height: 540px;
    margin-left: 38px;
    margin-right: 0px;
  }

  .community-images-container {
    width: 340px;
    height: 955px;
    left: 3px;
    top: 130px;
  }

  .community-image-one {
    width: 300px;
    margin-left: 4px;
    margin-bottom: 14px;
  }

  .community-image-two {
    width: 300px;
    margin-left: -3px;
  }

  .community-image-three {
    width: 300px;
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: 14px;
  }

  .community-image-four {
    width: 300px;
    margin-left: -2px;
  }

}



@media(max-width: 375px) and (min-width: 370px) and (max-height: 668px) and (min-height: 666px) {

  .community-background {
    height: 1700px;
    width: auto;
  }

  .community-title {
    top: 60px;
    position: absolute;
    width: 375px;
  }

  .community-statement-container {
    top: 140px;
    width: 320px;
    height: 575px;
    margin-left: 28px;
    margin-right: 0px;
  }

  .community-images-container {
    width: 320px;
    height: 955px;
    margin-left: 28px;
    top: 130px;
    padding-bottom: 20px;
  }

  .community-image-one {
    width: 280px;
    margin-left: 4px;
    margin-bottom: 14px;
  }

  .community-image-two {
    width: 280px;
    margin-left: -3px;
  }

  .community-image-three {
    width: 280px;
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: 14px;
  }

  .community-image-four {
    width: 280px;
    margin-left: -2px;
  }

}



@media(max-width: 361px) and (min-width: 359px) and (max-height: 641px) and (min-height: 639px) {

  .community-background {
    height: 1700px;
    width: auto;
  }

  .community-title {
    top: 60px;
    position: absolute;
    width: 375px;
  }

  .community-statement-container {
    top: 140px;
    width: 320px;
    height: 575px;
    margin-left: 20px;
    margin-right: 0px;
  }

  .community-images-container {
    width: 320px;
    height: 955px;
    margin-left: 20px;
    top: 130px;
    padding-bottom: 20px;
  }

  .community-image-one {
    width: 280px;
    margin-left: 4px;
    margin-bottom: 14px;
  }

  .community-image-two {
    width: 280px;
    margin-left: -3px;
  }

  .community-image-three {
    width: 280px;
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: 14px;
  }

  .community-image-four {
    width: 280px;
    margin-left: -2px;
  }

}

@media(max-height: 569px) and (min-height: 479px) and (max-width: 321px) and (min-width: 319px) {

  .community-background {
    height: 1700px;
    width: auto;
  }

  .community-title {
    top: 60px;
    position: absolute;
    width: 320px;

    h2 {
      font-size: 25px;
      padding-top: 2px;
    }
  }

  .community-statement-container {
    top: 140px;
    width: 300px;
    height: 610px;
    margin-left: 10px;
    margin-right: 0px;
  }

  .community-images-container {
    width: 300px;
    height: 874px;
    margin-left: 10px;
    top: 130px;
    padding-bottom: 20px;
  }

  .community-image-one {
    width: 280px;
    height: 200px;
    margin-left: -6px;
    margin-bottom: 14px;
  }

  .community-image-two {
    width: 280px;
    height: 200px;
    margin-left: -14px;
  }

  .community-image-three {
    width: 280px;
    height: 200px;
    margin-left: -6px;
    margin-top: -10px;
    margin-bottom: 14px;
  }

  .community-image-four {
    width: 280px;
    height: 200px;
    margin-left: -14px;
  }

}



/***********************************************************************************************
Mobile
***********************************************************************************************/



/****************************************************************************************
Community Planning Media Queries
****************************************************************************************/
