



/****************************************************************************************
Community Planning Media Queries
****************************************************************************************/




@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  .community-background {
    position: fixed;
  }

  .community-writeup-container {
    width: 500px;
  }

  .community-statement-container {
    height: 450px;
  }

  .community-scroller {
    height: 450px;
  }

  .construction-images-container {
    width: 1080px;
    height: 695px;
  }

  .community-image-one {
    height: 320px;
  }

  .community-image-two {
    height: 320px;
  }

  .community-image-three {
    height: 320px;
  }

  .community-image-four {
    height: 320px;
  }

  .community-scroller {
    overflow-y: hidden;
  }

}

@media(max-height: 800px) and (max-width: 1280px) and (min-width: 1081px) {

  .community-background {
    position: fixed;
  }

  .community-scroller {
    overflow-y: auto;
    height: 390px;
    padding-right: 5px;
  }

}

/*****************************************************************************
Tablet
*****************************************************************************/



@media(max-height: 768px) and (min-height: 700px) and (max-width: 1024px) {

  .community-background {
    position: fixed;
  }

  .community-title {
    width: 420px;
  }

  .community-statement-container {
    width: 420px;
    height: 460px;
  }

  .community-scroller {
    height: 415px;
    overflow-y: none;
  }

  .construction-images-container {
    width: 570px;
  }

}




/***********************************************************************************************
Mobile
***********************************************************************************************/



@media(max-width: 426px) and (min-width: 320px) and (max-height: 625px) and (min-height: 372px) {

  .community-background {
    height: 1680px;
    width: auto;
  }

  .community-title {
    top: 60px;
    width: 425px;
    overflow-x: hidden;
    position: absolute;
  }

  .community-statement-container {
    top: 140px;
    width: 340px;
    height: 540px;
    margin-left: 43px;
    margin-right: 0px;
  }

  .construction-images-container {
    width: 340px;
    height: 990px;
    left: 8px;
    top: 120px;
  }

  .community-image-one {
    height: 220px;
  }

  .community-image-two {
    height: 220px;
  }

  .community-image-three {
    height: 220px;
  }

  .community-image-four {
    height: 220px;
  }

}



/***********************************************************************************************
Mobile
***********************************************************************************************/



/****************************************************************************************
Community Planning Media Queries
****************************************************************************************/
