



/****************************************************************************************
Construction Administration Media Queries
****************************************************************************************/



@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  .construction-service-container {
    width: 500px;
  }

  .construction-statement-container {
    height: 490px;
  }

  .construction-scroller {
    height: 500px;
  }

  .construction-image-one {
    height: 320px;
  }

  .construction-image-two {
    height: 320px;
  }

  .construction-image-three {
    height: 320px;
  }

  .construction-image-four {
    height: 320px;
  }

}



/****************************************************************************************
Construction Administration Media Queries
****************************************************************************************/
