



/****************************************************************************************
Construction Administration Media Queries
****************************************************************************************/



@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  .construction-service-container {
    width: 500px;
  }

  .construction-statement-container {
    height: 490px;
  }

  .construction-scroller {
    height: 500px;
  }

  .construction-image-one {
    height: 320px;
  }

  .construction-image-two {
    height: 320px;
  }

  .construction-image-three {
    height: 320px;
  }

  .construction-image-four {
    height: 320px;
  }

  .construction-scroller {
    overflow-y: hidden;
  }

}

@media(max-height: 800px) and (max-width: 1280px) and (min-width: 1080px) {

  .construction-scroller {
    overflow-y: auto;
    height: 390px;
  }

}



/*****************************************************************************
Tablet
*****************************************************************************/



@media(max-height: 768px) and (max-width: 1024px) {

  .construction-title {
    width: 420px;

    h2 {
      font-size: 26px;
      padding-top: 4px;
    }
  }

  .construction-statement-container {
    width: 420px;
    height: 500px;
  }

  .construction-scroller {
    overflow-y: scroll;
    height: 480px;
  }

}



/****************************************************************************************
Construction Administration Media Queries
****************************************************************************************/
