




/*******************************************************************************************
Mobile
*******************************************************************************************/




@media(max-width: 426px) and (min-width: 400px) and (max-height: 737px) and (min-height: 735px) {

}

@media(max-width: 375px) and (min-width: 370px) and (max-height: 668px) and (min-height: 666px) {

  .company-name-wrapper {
    top: 60px;
    width: 375px;
    height: 70px;
  }

  .logo-wrapper {
    height: 70px;
    width: 72px;
  }

  .company-logo {
    height: 90px;
    width: 80px;
  }

  .company-title {
    font-size: 19px;
    padding-left: 5px;
  }

  .company-info {
    top: 150px;
  }

  .social-links {
    width: 335px;
  }

  .social-media-container {
    width: 200px;
    border-right: 1px solid #FFF;
  }

  .social-media-links {
    bottom: 15px;
  }

  .facebook-spacing a {
    margin-right: 15px;
  }

  .google-map iframe {
    width: 335px;
  }

}

@media(max-width: 361px) and (min-width: 359px) and (max-height: 641px) and (min-height: 639px) {

}

@media(max-height: 569px) and (min-height: 479px) and (max-width: 321px) and (min-width: 319px) {

}




/*******************************************************************************************
Mobile
*******************************************************************************************/
