



/******************************************************************************************
Dwell at Nona Place Media Queries
******************************************************************************************/



@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  #dwell-one {
    height: 1080px;
  }

  #dwell-two {
    height: 1080px;
  }

  #dwell-three {
    height: 1080px;
  }

  #dwell-four {
    height: 1080px;
  }

  #dwell-summary {
    height: 570px;
  }

  .summary-container {
    overflow-y: hidden;
  }

}



/******************************************************************************************
Dwell at Nona Place Media Queries
******************************************************************************************/
