



/****************************************************************************************
Construction Administration Media Queries
****************************************************************************************/



@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  .graphics-writeup-container {
    width: 500px;
  }

  .graphics-image-one {
    height: 320px;
  }

  .graphics-image-two {
    height: 320px;
  }

  .graphics-image-three {
    height: 320px;
  }

  .graphics-image-four {
    height: 320px;
  }

}



/****************************************************************************************
Construction Administration Media Queries
****************************************************************************************/
