



/****************************************************************************************
Construction Administration Media Queries
****************************************************************************************/



@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1441px) {

  .graphics-background {
    position: fixed;
    height: 1000px;
  }

  .graphics-writeup-container {
    width: 500px;
  }

  .graphics-image-one {
    height: 320px;
  }

  .graphics-image-two {
    height: 320px;
  }

  .graphics-image-three {
    height: 320px;
  }

  .graphics-image-four {
    height: 320px;
  }

  .graphics-scroller {
    overflow-y: hidden;
  }

}


@media(max-height: 1080px) and (max-width: 1440px) and (min-width: 1261px) {

  .graphics-background {
    height: 1000px;
    position: fixed;
  }

}




/*****************************************************************************
Tablet
*****************************************************************************/



@media(max-height: 768px) and (max-width: 1024px) {

  .graphics-title {
    width: 420px;
  }

  .graphics-statement-container {
    width: 420px;
    height: 340px;
  }

}




/****************************************************************************************
Mobile
****************************************************************************************/



@media(max-width: 415px) and (min-width: 376px) and (max-height: 737px) and (min-height: 735px) {

  .graphics-background {
    height: 1700px;
    width: auto;
  }

  .graphics-scroller {
    overflow-y: hidden;
    height: 540px;
  }

  .graphics-title {
    top: 60px;
    position: absolute;
    width: 414px;
  }

  .graphics-statement-container {
    top: 140px;
    width: 340px;
    height: 400px;
    margin-left: 38px;
    margin-right: 0px;
  }

  .graphics-images-container {
    width: 340px;
    height: 955px;
    margin-left: 20px;
    top: 130px;
  }

  .graphics-image-one {
    width: 300px;
    margin-left: 4px;
    margin-bottom: 14px;
  }

  .graphics-image-two {
    width: 300px;
    margin-left: -3px;
  }

  .graphics-image-three {
    width: 300px;
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: 14px;
  }

  .graphics-image-four {
    width: 300px;
    margin-left: -2px;
  }

}



@media(max-width: 375px) and (min-width: 370px) and (max-height: 668px) and (min-height: 666px) {

  .graphics-background {
    height: 1700px;
    width: auto;
  }

  .graphics-scroller {
    overflow-y: hidden;
    height: 540px;
  }

  .graphics-title {
    top: 60px;
    position: absolute;
    width: 375px;
  }

  .graphics-statement-container {
    top: 140px;
    width: 340px;
    height: 400px;
    margin-left: 18px;
    margin-right: 0px;
  }

  .graphics-images-container {
    width: 340px;
    height: 955px;
    margin-left: 3px;
    top: 130px;
  }

  .graphics-image-one {
    width: 300px;
    margin-left: 4px;
    margin-bottom: 14px;
  }

  .graphics-image-two {
    width: 300px;
    margin-left: -3px;
  }

  .graphics-image-three {
    width: 300px;
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: 14px;
  }

  .graphics-image-four {
    width: 300px;
    margin-left: -2px;
  }

}



@media(max-width: 361px) and (min-width: 359px) and (max-height: 641px) and (min-height: 639px) {

  .graphics-background {
    height: 1600px;
    width: auto;
  }

  .graphics-scroller {
    overflow-y: hidden;
    height: 540px;
  }

  .graphics-title {
    top: 60px;
    position: absolute;
    width: 360px;
  }

  .graphics-statement-container {
    top: 140px;
    width: 320px;
    height: 400px;
    margin-left: 20px;
    margin-right: 0px;
  }

  .graphics-images-container {
    width: 320px;
    height: 955px;
    margin-left: 5px;
    top: 130px;
  }

  .graphics-image-one {
    width: 300px;
    margin-left: -6px;
    margin-bottom: 14px;
  }

  .graphics-image-two {
    width: 300px;
    margin-left: -14px;
  }

  .graphics-image-three {
    width: 300px;
    margin-left: -6px;
    margin-top: -10px;
    margin-bottom: 14px;
  }

  .graphics-image-four {
    width: 300px;
    margin-left: -14px;
  }

}



@media(max-height: 569px) and (min-height: 479px) and (max-width: 321px) and (min-width: 319px) {

  .graphics-background {
    height: 1800px;
    width: auto;
  }

  .graphics-scroller {
    overflow-y: hidden;
    height: 740px;
  }

  .graphics-title {
    top: 60px;
    position: absolute;
    width: 320px;
  }

  .graphics-statement-container {
    top: 140px;
    width: 280px;
    height: 400px;
    margin-left: 20px;
    margin-right: 0px;
  }

  .graphics-images-container {
    width: 280px;
    height: 840px;
    margin-left: 5px;
    top: 130px;
  }

  .graphics-image-one {
    width: 250px;
    height: 190px;
    margin-left: -1px;
    margin-bottom: 14px;
  }

  .graphics-image-two {
    width: 250px;
    height: 190px;
    margin-left: -9px;
  }

  .graphics-image-three {
    width: 250px;
    height: 190px;
    margin-left: 0px;
    margin-top: -10px;
    margin-bottom: 14px;
  }

  .graphics-image-four {
    width: 250px;
    height: 190px;
    margin-left: -6px;
  }

}



/****************************************************************************************
Mobile
****************************************************************************************/



/****************************************************************************************
Construction Administration Media Queries
****************************************************************************************/
