



/******************************************************************************************
Harmony Media Queries
******************************************************************************************/




@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  #harmony-one {
    height: 1080px;
  }

  #harmony-two {
    height: 1080px;
  }

  #harmony-three {
    height: 1080px;
  }

  #harmony-four {
    height: 1080px;
  }

  #harmony-summary {
    height: 570px;
  }

  .summary-container {
    overflow-y: hidden;
  }

}




/******************************************************************************************
Harmony Media Queries
******************************************************************************************/
