



/****************************************************************************************
Landscape Architecture Media Queries
****************************************************************************************/




@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  .landscape-service-container {
    width: 500px;
    margin-right: 30px;
  }

  .landscape-architecture-statement-container {
    height: 690px;
  }

  .landscape-scroller {
    overflow-y: scroll;
    height: 660px;
  }

  .landscape-images-container {
    height: 763px;
    width: 1080px;
  }

  .landscape-image-one {
    height: 238px;
  }

  .landscape-image-two {
    height: 238px;
  }

  .landscape-image-three {
    height: 238px;
  }

  .landscape-image-four {
    height: 238px;
  }

  .landscape-image-five {
    height: 238px;
  }

  .landscape-image-six {
    height: 238px;
  }

  .landscape-image-seven {
    height: 238px;
  }

  .landscape-image-eight {
    height: 238px;
  }

  .landscape-image-nine {
    height: 238px;
  }

}

@media(max-height: 800px) and (max-width: 1280px) and (min-width: 1080px) {

  .landscape-scroller {
    overflow-y: scroll;
    height: 390px;
  }

}




/****************************************************************************************
Landscape Architecture Media Queries
****************************************************************************************/
