



/******************************************************************************************
Las Brisas Media Queries
******************************************************************************************/




@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  #brisas-one {
    height: 1080px;
  }

  #brisas-two {
    height: 1080px;
  }

  #brisas-three {
    height: 1080px;
  }

  #brisas-four {
    height: 1080px;
  }

  #brisas-summary {
    height: 470px;
  }

}




/******************************************************************************************
Las Brisas Media Queries
******************************************************************************************/
