



/******************************************************************************************
Las Ventanas Media Queries
******************************************************************************************/




@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  #ventanas-one {
    height: 1080px
  }

  #ventanas-two {
    height: 1080px;
  }

  #ventanas-three {
    height: 1080px;
  }

  #ventanas-four {
    height: 1080px;
  }

  #ventanas-summary {
    height: 560px;
  }

  .summary-container {
    overflow-y: hidden;
  }

}




/******************************************************************************************
Las Ventanas Media Queries
******************************************************************************************/
