



/******************************************************************************************
Magic Village Media Queries
******************************************************************************************/



@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  #magic-one {
    height: 1080px;
  }

  #magic-two {
    height: 1080px;
  }

  #magic-three {
    height: 1080px;
  }

  #magic-four {
    height: 1080px;
  }

  #magic-summary {
    height: 480px;
  }

}



/******************************************************************************************
Magic Village Media Queries
******************************************************************************************/
