




@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 426px) {

  #mobile-nav {
    display: none;
  }

}

@media(max-height: 738px) and (min-height: 479px) and (max-width: 426px) and (min-width: 319px) {


  #site-nav {
    display: none;
  }

}


/**************************************************************************************
Mobile Range
**************************************************************************************/



#mobile-nav {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #464A4F;
  z-index: 20;
}

Modal {
  width: 100%;
  left: 10%;
  margin-left: 15px;
  padding: 0;
  position: absolute;
}

.mobile-nav-toggle {
  padding: 10px;
  display: inline-block;
}

.fa-bars {
  width: 100%;
  color: #FFF;
}

.navigation-modal {
  width: 100%;
}

.mobile-nav-items {
  //margin-top: 50px;
  padding: 0;
  background-color: #222;
  text-align: center;
}

.mobile-nav-links {
  height: 40px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-bottom: 15px;
}

.mobile-nav-links a {
  color: #FFF;
  margin: 0;
  height: 40px;
  text-decoration: none;
}








/**************************************************************************************
Mobile Range
**************************************************************************************/
