






/******************************************************************************************
Nona Park Village Media Queries
******************************************************************************************/





@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px){

  #nona-one {
    height: 1080px;
  }

  #nona-two {
    height: 1080px;
  }

  #nona-three {
    height: 1080px;
  }

  #nona-four {
    height: 1080px;
  }

  #nona-park-summary {
    height: 615px;
  }

}





/******************************************************************************************
Nona Park Village Media Queries
******************************************************************************************/
