






/******************************************************************************************
Nona Park Village Media Queries
******************************************************************************************/





@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px){

  #nona-one {
    height: 1080px;
  }

  #nona-two {
    height: 1080px;
  }

  #nona-three {
    height: 1080px;
  }

  #nona-four {
    height: 1080px;
  }

  #nona-park-summary {
    height: 615px;
  }

  .summary-container {
    overflow-y: hidden;
  }

}



/*****************************************************************************
Tablet
*****************************************************************************/





@media(max-height: 768px) and (max-width: 1024px) {

  #nona-one {
    height: 768px;
  }

  #nona-two {
    height: 768px;
  }

  #nona-three {
    height: 768px;
  }

  #nona-four {
    height: 768px;
  }

  #nona-park-summary {
    height: 540px;
  }

  .summary-container {
    overflow-y: hidden;
  }

}





/******************************************************************************************
Nona Park Village Media Queries
******************************************************************************************/
