





/***********************************************************************************************
Tablet
***********************************************************************************************/

@media(max-height: 768px) and (max-width: 1024px) {

  .overview-title {
    width: 420px;
  }

  .statement-container {
    width: 420px;
    height: 470px;
  }

}

/***********************************************************************************************
Tablet
***********************************************************************************************/




/***********************************************************************************************
Mobile
***********************************************************************************************/



@media(max-width: 426px) and (min-width: 400px) and (max-height: 737px) and (min-height: 735px) {

  .overview-background {
    height: 765px;
  }

  .overview-title {
    top: 60px;
    width: 100%;
  }

  .statement-container {
    top: 138px;
    margin-left: 36px;
    margin-right: 10px;
    width: 340px;
  }

}



@media(max-width: 375px) and (min-width: 370px) and (max-height: 668px) and (min-height: 666px) {

  .overview-background {
    height: 690px;
  }

  .overview-title {
    top: 60px;
    position: absolute;
    width: 375px;
  }

  .statement-container {
    top: 138px;
    margin-left: 36px;
    margin-right: 0;
    width: 300px;
    height: 530px;
  }

}



@media(max-width: 361px) and (min-width: 359px) and (max-height: 641px) and (min-height: 639px) {

  .overview-background {
    height: 690px;
  }

  .overview-title {
    top: 60px;
    position: absolute;
    width: 360px;
  }

  .statement-container {
    top: 138px;
    margin-left: 30px;
    margin-right: 0;
    width: 300px;
    height: 530px;
  }

}



@media(max-height: 569px) and (min-height: 479px) and (max-width: 321px) and (min-width: 319px) {

  .overview-background {
    height: 690px;
  }

  .overview-title {
    top: 60px;
    position: absolute;
    width: 320px;
  }

  .statement-container {
    top: 138px;
    margin-left: 10px;
    margin-right: 0;
    width: 300px;
    height: 530px;
  }

}



/***********************************************************************************************
Mobile
***********************************************************************************************/
