





/***********************************************************************************************
Tablet
***********************************************************************************************/

@media(max-height: 768px) and (max-width: 1024px) {

  .overview-title {
    width: 420px;
  }

  .statement-container {
    width: 420px;
    height: 470px;
  }

}
