





/******************************************************************************************
Plaza at University Media Queries
******************************************************************************************/




@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  #plaza-one {
    height: 1080px;
  }

  #plaza-two {
    height: 1080px;
  }

  #plaza-three {
    height: 1080px;
  }

  #plaza-four {
    height: 1080px;
  }

  #plaza-summary {
    height: 615px;
  }

  .summary-container {
    overflow-y: none;
    height: 620px;
  }

}



/*****************************************************************************
Tablet
*****************************************************************************/




@media(max-height: 768px) and (max-width: 1024px) {

  #plaza-one {
    height: 768px;
  }

  #plaza-two {
    height: 768px;
  }

  #plaza-three {
    height: 768px;
  }

  #plaza-four {
    height: 768px;
  }

  #plaza-summary {
    height: 520px;
  }

}




/******************************************************************************************
Plaza at University Media Queries
******************************************************************************************/
