






/************************************************************************************************
Main styling for the navbar
************************************************************************************************/






@media(max-width: 1640px) and (min-width: 1441px) {

  .navigation-home {
    float: right;
    margin-right: 100px;
    margin-top: 10px;
  }

}

@media(max-width: 1440px) and (min-width: 1281px) {

  .navigation-home {
    float: right;
    margin-right: 100px;
    margin-top: 4px;
  }

}

@media(max-width: 1280px) and (min-width: 1081px) {

  .navigation-home {
    float: right;
    margin-right: 100px;
    margin-top: 4px;
  }

}

@media(max-width: 1080px) and (min-width: 961px) {

  .navigation-home {
    float: right;
    margin-right: 100px;
    margin-top: 4px;
  }

}






/************************************************************************************************
Main styling for the navbar
************************************************************************************************/
