





/******************************************************************************************
Projects Window
******************************************************************************************/




@media(max-height: 1080px) and (min-height: 800px) and (max-width: 1920px) and (min-width: 1641px){

  .project-one-container {

    margin-left: 10px;

  }

  .hover-effect-2 {
    height: 230px;
    width: 380px;
  }

  .effect img.top:hover {
    bottom: -180px;
    padding-top: 100px;
  }

}


@media(max-height: 1080px) and (min-height: 800px) and (max-width: 1640px) and (min-width: 1441px){

  .project-one-container {
    // overflow-y: scroll;
    // height: 470px;
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 0px;
  }

  .hover-effect-2 {
    height: 200px;
    width: 350px;
  }

  .effect img.top:hover {
    bottom: -180px;
    padding-top: 100px;
  }

}

@media(max-height: 1080px) and (min-height: 800px) and (max-width: 1440px) and (min-width: 1261px) {

  .project-one-container {
    margin-left: 1px;
  }

  .hover-effect-2 {
    height: 190px;
    width: 330px;
  }

}




/******************************************************************************************
Projects Window
******************************************************************************************/
