





/******************************************************************************************
Projects Window
******************************************************************************************/




@media(max-height: 1080px) and (min-height: 800px) and (max-width: 1920px) and (min-width: 1641px){

  .project-one-container {

    margin-left: 10px;

  }

  .hover-effect-2 {
    height: 230px;
    width: 380px;
  }

  .effect img.top:hover {
    bottom: -180px;
    padding-top: 100px;
  }

}


@media(max-height: 1080px) and (min-height: 800px) and (max-width: 1640px) and (min-width: 1441px){

  .project-one-container {
    // overflow-y: scroll;
    // height: 470px;
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 0px;
  }

  .hover-effect-2 {
    height: 200px;
    width: 350px;
  }

  .effect img.top:hover {
    bottom: -180px;
    padding-top: 100px;
  }

}

@media(max-height: 1080px) and (min-height: 800px) and (max-width: 1440px) and (min-width: 1261px) {

  .project-one-container {
    margin-left: -3px;
  }

  .hover-effect-2 {
    height: 190px;
    width: 300px;
  }

}



/*****************************************************************************
Tablet
*****************************************************************************/




@media(max-height: 768px) and (max-width: 1024px) {

  .project-one-container {
    margin-left: -15px;
  }

  .hover-effect-2 {
    height: 160px;
    width: 240px;
  }

}




/***********************************************************************************************
Mobile
***********************************************************************************************/




@media(max-width: 426px) and (min-width: 400px) and (max-height: 737px) and (min-height: 735px) {

  .project-one-container {
    margin-left: 60px;
    top: 30px;
  }

  .plaza-background {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
  }

  .plaza-landing h3 {
    z-index: 20;

  }

  .nonapark-landing h3 {
    z-index: 20;
  }

  .seaisle-landing h3 {
    z-index: 20;
  }

  .kindred-writeup h3 {
    z-index: 20;
  }

  .waterleigh-landing h3 {
    z-index: 20;
  }

  .altis-landing h3 {
    z-index: 20;
  }

  .dwell-landing h3 {
    z-index: 20;
  }

  .ventanas-landing h3 {
    z-index: 20;
  }

  .brisas-landing h3 {
    z-index: 20;
  }

}


@media(max-width: 375px) and (min-width: 370px) and (max-height: 668px) and (min-height: 666px) {

  .project-one-container {
    margin-left: 36px;
    top: 30px;
  }

  .plaza-background {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
  }

  .plaza-landing h3 {
    z-index: 20;

  }

  .nonapark-landing h3 {
    z-index: 20;
  }

  .seaisle-landing h3 {
    z-index: 20;
  }

  .kindred-writeup h3 {
    z-index: 20;
  }

  .waterleigh-landing h3 {
    z-index: 20;
  }

  .altis-landing h3 {
    z-index: 20;
  }

  .dwell-landing h3 {
    z-index: 20;
  }

  .ventanas-landing h3 {
    z-index: 20;
  }

  .brisas-landing h3 {
    z-index: 20;
  }

}


@media(max-width: 361px) and (min-width: 359px) and (max-height: 641px) and (min-height: 639px) {

  .project-one-container {
    margin-left: 30px;
    top: 30px;
  }

  .plaza-background {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
  }

  .plaza-landing h3 {
    z-index: 20;

  }

  .nonapark-landing h3 {
    z-index: 20;
  }

  .seaisle-landing h3 {
    z-index: 20;
  }

  .kindred-writeup h3 {
    z-index: 20;
  }

  .waterleigh-landing h3 {
    z-index: 20;
  }

  .altis-landing h3 {
    z-index: 20;
  }

  .dwell-landing h3 {
    z-index: 20;
  }

  .ventanas-landing h3 {
    z-index: 20;
  }

  .brisas-landing h3 {
    z-index: 20;
  }

}


@media(max-height: 569px) and (min-height: 479px) and (max-width: 321px) and (min-width: 319px) {

  .project-one-container {
    margin-left: 10px;
    top: 30px;
  }

  .plaza-background {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
  }

  .plaza-landing h3 {
    z-index: 20;

  }

  .nonapark-landing h3 {
    z-index: 20;
  }

  .seaisle-landing h3 {
    z-index: 20;
  }

  .kindred-writeup h3 {
    z-index: 20;
  }

  .waterleigh-landing h3 {
    z-index: 20;
  }

  .altis-landing h3 {
    z-index: 20;
  }

  .dwell-landing h3 {
    z-index: 20;
  }

  .ventanas-landing h3 {
    z-index: 20;
  }

  .brisas-landing h3 {
    z-index: 20;
  }

}




/***********************************************************************************************
Mobile
***********************************************************************************************/



/******************************************************************************************
Projects Window
******************************************************************************************/
