



/******************************************************************************************
Sea Isle Media Queries
******************************************************************************************/



@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  #image-one {
    height: 1080px;
  }

  #image-two {
    height: 1080px;
  }

  #image-three {
    height: 1080px;
  }

  #image-four {
    height: 1080px;
  }

  #sea-isle-summary {
    height: 470px;
  }

  .summary-container {
    overflow-y: auto;
  }

}



/******************************************************************************************
Sea Isle Media Queries
******************************************************************************************/
