



/****************************************************************************************
Studio Media Queries
****************************************************************************************/




@media(max-height: 1080px) and (min-height: 801px) and (max-width: 1920px) and (min-width: 1641px) {

  .studio-content-container {
    margin-top: 280px;
    padding-left: 200px;
  }

  .barry-photo {
    height: 300px;
    width: 340px;
  }

  .barry-title {
    width: 340px;
  }

  .scott-photo {
    height: 300px;
    width: 340px;
  }

  .scott-title {
    width: 340px;
  }

  .jim-photo {
    height: 300px;
    width: 340px;
  }

  .jim-title {
    width: 340px;
  }

}

@media(max-height: 1080px) and (min-height: 801px) and (max-width: 1640px) and (min-width: 1441px) {

  .studio-content-container {
    margin-top: 280px;
    padding-left: 130px;
  }

}

@media(max-height: 1080px) and (min-height: 801px) and (max-width: 1440px) and (min-width: 1261px) {

  .studio-content-container {
    margin-top: 280px;
    padding-left: 100px;
  }

}

@media(max-height: 800px) and (min-height: 601px) and (max-width: 1260px) and (min-width: 1081px) {

  .studio-content-container {
    margin-top: 140px;
    padding-left: 60px;
  }

}




/****************************************************************************************
Studio Media Queries
****************************************************************************************/
