



/******************************************************************************************
Kindred Media Queries
******************************************************************************************/



@media(max-height: 1080px) and (max-width: 1920px) and (min-width: 1440px) {

  #waterleigh-one {
    height: 1080px
  }

  #waterleigh-two {
    height: 1080px;
  }

  #waterleigh-three {
    height: 1080px;
  }

  #waterleigh-four {
    height: 1080px;
  }

  #waterleigh-summary {
    height: 590px;
  }

  .summary-container {
    overflow-y: auto;
  }

}



/******************************************************************************************
Kindred Media Queries
******************************************************************************************/
